.aaa {
	background-position: center center;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 25px;
	width: 400px;
	margin: auto;
	background-color: #FFCC00;
	background-image: url(../zhandian/fff.jpg);
}
